.card-columns{
    margin-top: 50px;
    margin-left: 90px;
}
.footer{
    margin-top: 50px;
    align-content: center;
    margin-left: 40%;
}
form{
    text-align: center;
    height: 350px;
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.63);
    width: 500px;
    margin-left: 32.5%;
    padding-top: 50px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.form-control{
    margin-top: 20px;
    width: 250px;
    align-self: center;
    margin-left: 25%;
}
input[type=submit]{
    margin-top: 20px;
}
label{
    text-align: center;
}
h3{
    margin-top: 20px;
} 
#copyright{
    margin-top: 10px;
    text-align: center;
}
.card-img-top{
    width: 200px;
    height: 200px;
}
.card-groups{
    width: 220px;
    height: 300px;
}