#copyright{
    text-align: center;
}
#tdimg{
    width: 150px;
    height: 150px;
}
.tditem{
    text-align: center;
}
h3{
    margin-left: 218px;
    margin-top: 10px;
    margin-bottom: 10px;

}
.table{
    width: 1000px;
    margin-left: 15%;
}